@import '../../../styles.scss';
@import '../../theme/variables.scss';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
div{
    height: calc(100vh - 100px) !important;
}
p{
    font-family: $comforta;
    font-size: 64px;
}
@media screen and(max-width: 768px){
    div{
    height: calc(100vh - 77px) !important;
    }
    p{
        font-family: $comforta;
        font-size: 34px;
        color: $fontColor2;
    }
}