
<section class="footer es-flex es-j-between es-ai-center" >
  <div class="contact es-flex-column ">
    <div class="es-flex-row es-ai-center"> <img src="assets/img/placeholder.svg" alt="">
      <p><a href="https://goo.gl/maps/BA97Mkzm7iB2">{{ lang.ADDRESS }}</a></p>
    </div>
    <div class="es-flex-row es-ai-center"> <img src="assets/img/phone-contact.svg" alt="">
      <p><a href="tel:21972851452">{{ lang.NUMBER }}</a></p>
    </div>
    <div class="es-flex-row es-ai-center"> <img src="assets/img/email.svg" alt="">
      <p><a href="mailto:igorpereirapoliceno@gmail.com?subject=Assunto">{{ lang.EMAIL }}</a></p> <!--trocar o "assunto"-->
    </div>
  </div>
  <div class="logo es-flex es-j-center es-ai-center">
    <img class="inova" src="assets/img/logo.png" alt="">
  </div>
  <div class="social es-flex-column es-j-between es-ai-end es-j-around">
   <a href="####"><img src="assets/img/facebook-icon.png" alt=""></a>
   <a href="####"><img src="assets/img/instagram-icon2.png" alt=""></a>
  </div>
</section>
