@import '../../theme/variables.scss';

.footer {
  background-color: $primary-color;
  width: 100vw;
  padding: 10px;

  .contact {
    // padding: 15px;
    color: white;
    width: 40%;
    
    div {
      
      img {
        width: 45px;
        height: 75px;
      }

      p {
        margin-left: 10px;
      }

    }
  }

  .logo {
    // width: 25%;
    width: 20%;

    .inova {
      width: 130px;
      height: 75px;
    }
  }

  .social {
    width: 40%;

    img{
      width: 45px;
    }
  }
}

@media(max-width:768px) {
  .footer {
    flex-direction: column-reverse;

    img {
      width: 37px;
    }

    .contact {
      padding: 20px 0px 20px 0px;
    }

    .logo {
      width: auto;
      padding: 20px 0 20px 0;
    }

    .social {
      flex-direction: row;
      margin: 25px 0;

      a:nth-child(1) {
        margin: 0px 60px 0px 0px;
      }

      a:nth-child(2) {
        margin: 0px 0px 0px 60px;
      }
    }
  }
}
