@import '../../theme/variables.scss';

.footer {
  background-color: $primary-color;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 45px;
  }

  .contact {
    padding: 15px;
    color: white;

    p {
      margin-left: 10px;
    }

    div {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }
  }

  .inova {
    width: 130px;
  }

  .social {
    display: flex;
    flex-direction: column;

    a:nth-child(1) {
      margin: 0 15px 40px 0;
    }

  }

  .logo {
    width: 25%;
  }
}

@media(max-width:768px) {
  .footer {
    display: flex;
    flex-direction: column-reverse;

    img{
      width: 37px;
    }

    .contact{
      padding: 20px 0px 20px 0px;
    }
    .logo {
      width: auto;
      padding: 20px 0 20px 0;
    }

    .social {
      flex-direction: row;
      margin: 25px 0;

      a:nth-child(1) {
        margin: 0px 60px 0px 0px;
      }
      a:nth-child(2){
        margin: 0px 0px 0px 60px;
      }
    }
  }
}
