<footer>
  <section class="secfooter">
    <div class="contact">
      <ul>
        <li class="pinfo"><img src="../../../assets/img/placeholder.svg" alt="placeholder.svg">
          <p class="info">Pedra De Guaratiba , Rj - Rio De Janeiro</p>
        </li>
        <li class="pinfo"><img src="../../../assets/img/phone-contact.svg" alt="phone-contact.svg">
          <p class="info">9999-9999</p>
        </li>
        <li class="pinfo"><img src="../../../assets/img/email.svg" alt="email.svg">
          <p class="info">exemplo@gmail.com </p>
        </li>
      </ul>
    </div>
    <div class="logo">
      <img class="inova" src="../../../assets/img/logo.png" alt="logo-devs.png">
    </div>
    <div class="icons">
      <li><a href="#face#"><img class="face" src="../../../assets/img/facebook.svg" alt="Facebookicon.svg"></a></li>
      <li><a href="#insta#"><img class="insta" src="../../../assets/img/instagram.svg" alt="instagram.svg"></a></li>
    </div>
  </section>
</footer>
