<footer>
   <div class="icones">
      <ul>
        <li><a href="#insta#"><img src="../../../assets/img/instagram-icon.png" alt="instagram-icon.png"></a></li>
        <li><a href="#face#"><img src="../../../assets/img/Facebookicon.png" alt="Facebookicon.png"></a></li>
        <li><a href="#whatts#"><img src="../../../assets/img/whatsapp.png" alt="whatsapp.png"></a></li>
      </ul>
   </div>
   <div class="logo">
      <img class="devs" src="../../../assets/img/logo-devs.png" alt="logo-devs.png">
   </div>
   <div class="space"></div>
</footer>