@import '../../theme/variables.scss';

.about{
  min-height: 100vh;
  background-color: $bgc-5;
  header{
    background-color: $bgc-1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    height: 81px;
    width: 100%;
    margin-bottom: 56px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    h2{
      font-size: 30px;
      font-family: $comforta;
      color: $fontColor2;
    }
  }

  main{
    margin: 10px;
    p{
      font-size: 20px;
      font-family: $opensans;
      padding: 0px 60px;
      // text-align: center
    }
    div{
      div{
        // background-color: aquamarine;
        // padding: 15px;
        margin: 25px;
        max-width: 25vw;
        div{
          width: 120px;
          height: 120px;
          padding: 0;
          border-radius: 50%;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          background-color: white;
          img{
            // border-radius: 50%;
            // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            // background-color: white;
            width: 96px;
            height: 122px;
          }
        }
        h3{
        margin: 10px;
        font-family: $opensans;
        }
        p{
          font-size: 18px;
          font-family: $opensans;
        }
      }
    }
  }
}

@media screen and(max-width:768px) {
  .about{
    background-color: $bgc-4;
    header{
      h2 {
        font-size: 18px;
        font-family: $comforta;
        color: $fontColor2;
      }
    }
    main{
      p{
        font-size: 14px;
        text-align: center;
      }
      div{
        div{
          max-width: none;
          width: 100%;
          h3{
            font-size: 18px;
          }
          p{
            font-size: 13px;
          }
        }
      }
    }
  }
}
