<section class="about es-flex-column">
  <header class="es-flex-row es-j-center es-ai-center">
    <h2>A Clínica</h2>
  </header>
  <main class="es-flex-column es-j-between es-ai-center">
    <p>A Clínica Inova tem como missão proporcionar ao paciente um atendente diferenciado. Trazendo para a região as técnicas e tecnologias mais atuais de uma forma acessível para todos.</p>
    <div class="es-flex-row es-j-around es-ai-center es-flex-wrap">
      <!--////-->
      <div class="es-flex-column es-ai-center es-j-around">
        <div>
          <img src="" alt="">          
        </div>
        <h3>Dr. Bruno Sato</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus amet pariatur ullam nostrum dolor aut, vitae sequi est vero ut voluptate asperiores cum, explicabo nihil! Laudantium, molestias. Tenetur, sit nulla!</p>
      </div>
      <!--////-->
      <div class="es-flex-column es-ai-center es-j-around">
        <div>
          <img src="" alt="">          
        </div>
        <h3>Dra. Valéria Cristo</h3>
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt ea sed odit, quam explicabo odio porro magnam, commodi, mollitia quia temporibus. Reprehenderit sapiente expedita nam inventore, labore consequatur quis ad?</p>
      </div>
      <!--////-->
      <div class="es-flex-column es-ai-center es-j-around">
        <div>
          <img src="" alt="">          
        </div>
        <h3> Dr. José Carlos Cristo jr</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti natus deserunt quae consequuntur quaerat nihil sint quisquam non ad sequi qui, deleniti nulla? Totam porro, voluptatem a deleniti dicta reiciendis!</p>
      </div>
      <!--////-->
    </div>
  </main>
</section>
