<section class="about es-flex-column">
  <header class="es-flex-row es-j-center es-ai-center">
    <h2>{{ lang.CLINIC }}</h2>
  </header>
  <main class="es-flex-column es-j-between es-ai-center">
    <p>{{ lang.FIRSTTEXT }}</p>
    <div class="es-flex-row es-j-around es-ai-center es-flex-wrap">
      <!--////-->
      <div class="es-flex-column es-ai-center es-j-around">
        <div>
          <img src="" alt="">          
        </div>
        <h3>{{ lang.DrBRUNO }}</h3>
        <p>{{ lang.SECONDTEXT }}</p>
      </div>
      <!--////-->
      <div class="es-flex-column es-ai-center es-j-around">
        <div>
          <img src="" alt="">          
        </div>
        <h3>{{ lang.DrVALERIA }}</h3>
        <p>{{ lang.THIRDTEXT }}</p>
      </div>
      <!--////-->
      <div class="es-flex-column es-ai-center es-j-around">
        <div>
          <img src="" alt="">          
        </div>
        <h3> {{ lang.DrJOSE }}</h3>
        <p>{{ lang.FOURTEXT }}</p>
      </div>
      <!--////-->
    </div>
  </main>
</section>
