@import '../../theme/variables.scss';
main{
    background-color: $third-color;
    min-height: 100vh;
    padding: 80px;
    font-family: 'Comfortaa', cursive;
    h2{
        color: $h2-color;
        font-size: 36px;
        text-align: center;
        text-shadow: 0px 4px 4px $shadow-color;
    }
    p{
        color: $text-color;
        padding-bottom: 25px;
        font-size: 95%;
    }
    .group-card-1{
        flex-wrap: wrap; 
        font-family: $opensans;  
    }
    .group-card-2{
        flex-wrap: wrap;
    }
}