@import '../../theme/variables.scss';
main{
    background-color: $bgc-4;
    min-height: 100vh;
    padding: 80px;
    font-family: 'Comfortaa', cursive;
    h2{
        color: $fontColor3;
        font-size: 24px;
        text-align: center;
        text-shadow: 0px 4px 4px $shadow-color;
    }
    .group-card-1{
        flex-wrap: wrap; 
        font-family: $opensans;  
        p{
            color: $fontColor1;
            padding-bottom: 25px;
            font-size: 95%;
        }
    }
}

@media screen and(max-width: 768px){
    main{
        padding-top: 30px;
        #h2p{
            display: none;
        }
        #h2s{
            text-transform: uppercase;
            color: $fontColor4;
            font-size: 24px;
            text-align: initial;
            width: 85vw;
            text-shadow: none;
            margin-bottom: 20px;
        }
        .group-card-1{
            width: 80vw;
            flex-wrap: wrap-reverse;
            p{
                font-size: 70%;
            }
        }
    }
}