<main class="es-flex-column es-j-around es-ai-center">
    <h2>NOSSAS ESPECIALIDADES</h2>
    <section class="es-flex-row es-j-around group-card-1">
        <div class="es-flex-column es-ai-center es-j-between">
            <img src="../../../assets/img/menu.svg" alt="">    
            <p>PRÓTESE</p>     
        </div>
        <div class="es-flex-column es-ai-center es-j-between">
            <img src="../../../assets/img/menu.svg" alt="">    
            <p>CIRURGIA</p>     
        </div>
        <div class="es-flex-column es-ai-center es-j-between">
            <img src="../../../assets/img/menu.svg" alt="">    
            <p>ENDODONTIA</p>     
        </div>            
        <div class="es-flex-column es-ai-center es-j-between">
            <img src="../../../assets/img/menu.svg" alt="">    
            <p>ESTÉTICA</p>     
        </div>            
        <div class="es-flex-column es-ai-center es-j-between">
            <img src="../../../assets/img/menu.svg" alt="">    
            <p>ESTOMATOLOGIA</p>     
        </div>            
    </section>
    
    <section class="es-flex-row es-j-around group-card-2">
        <div class="es-flex-column es-ai-center es-j-between">
            <img src="../../../assets/img/menu.svg" alt="">    
            <p>CIRURGIA</p>     
        </div>
        <div class="es-flex-column es-ai-center es-j-between">
            <img src="../../../assets/img/menu.svg" alt="">    
            <p>ENDODONTIA</p>     
        </div>            
        <div class="es-flex-column es-ai-center es-j-between">
            <img src="../../../assets/img/menu.svg" alt="">    
            <p>ESTÉTICA</p>     
        </div>            
        <div class="es-flex-column es-ai-center es-j-between">
            <img src="../../../assets/img/menu.svg" alt="">    
            <p>ESTOMATOLOGIA</p>     
        </div>
    </section>
</main>

    
