<main class="es-flex-column es-j-around es-ai-center">
    <h2>Nossas<br> Especialidades</h2>
    <section class="group-card-1 es-flex-row es-j-around es-ai-center ">
        <div class="es-flex-column es-ai-center es-j-between card">
            <img src="assets/img/dental-kkk.png" alt="">    
            <p>PRÓTESE</p>     
        </div>
        <div class="es-flex-column es-ai-center es-j-between card">
            <img src="assets/img/dentist.png" alt="">    
            <p>CIRURGIA</p>     
        </div>
        <div class="es-flex-column es-ai-center es-j-between card">
            <img src="assets/img/dental-care.png" alt="">    
            <p>ENDODONTIA</p>     
        </div>            
        <div class="es-flex-column es-ai-center es-j-between card">
            <img src="assets/img/shiny-tooth.png" alt="">    
            <p>ESTÉTICA</p>     
        </div>            
        <div class="es-flex-column es-ai-center es-j-between card">
            <img src="assets/img/dental.png" alt="">    
            <p>ESTOMATOLOGIA</p>     
        </div>            
    </section>
    
    <section class=" group-card-2 es-flex-row es-j-around es-ai-center ">
        <div class="es-flex-column es-ai-center es-j-between card">
            <img src="assets/img/menu.svg" alt="">    
            <p>CIRURGIA</p>     
        </div>
        <div class="es-flex-column es-ai-center es-j-between card">
            <img src="assets/img/menu.svg" alt="">    
            <p>ENDODONTIA</p>     
        </div>            
        <div class="es-flex-column es-ai-center es-j-between card">
            <img src="assets/img/menu.svg" alt="">    
            <p>ESTÉTICA</p>     
        </div>            
        <div class="es-flex-column es-ai-center es-j-between card">
            <img src="assets/img/menu.svg" alt="">    
            <p>ESTOMATOLOGIA</p>     
        </div>
    </section>
</main>

    
