$color-hover:  rgb(153,153,153);
$shadow-color: rgba(0, 0, 0, 0.25);
$shadow-header: rgba(0, 0, 0, 0.2);
$shadow-hover: lighten(rgba(6, 6, 8, 1), 10%);
$ul-margin: 15px;
$pattern-padding: 15px;
$pattern-margin: 15px;

//BACKGROUNDS COLORS
$bgc-1:#710000 ;
$bgc-2: #560000;
$bgc-3: #5B1D1B;
$bgc-4: white;
$bgc-5: #F2DFDF;

//FONTS Family and Color
$opensans: 'Open Sans', sans-serif;
$comforta: 'Comfortaa', cursive;
$fontColor1: #000000;
$fontColor2: #FFFFFF;
$fontColor3: #BF0202;

// MODAL COLORS
$bgc-modal: rgba(0,0,0,0.4);
$bgc-modalContent: #F6F6F6;
$shadow-modalContent: 0 4px 8px 0 rgba(0,0,0,0.2);

