$primary-color: rgba(#ac0000, $alpha: 1.0);
$second-color: #560000;
$color-hover:  rgb(153,153,153);
$third-color: white;
$shadow-color: rgba(0, 0, 0, 0.25);
$shadow-header: rgba(0, 0, 0, 0.2);
$shadow-hover: lighten(rgba(6, 6, 8, 1), 10%);
$text-color:black; //#1c1c1c
$h2-color:#BF0202;
$nav-color:#5B1D1B;
$sec-contact:#710000;
$tamanho: 18px;
$w-nav: 100%;
$h-nav: 60px;
$ul-margin: 15px;
$pattern-padding: 15px;
$pattern-margin: 15px;