input {
    background-color: transparent;
    border-radius: 5px;
    width: 317px;
    height:46px;
    border: 1px solid;
    border-color: white;
    margin-bottom: 25px;

}
::placeholder {
    color: white;
}