@import'../../theme/variables.scss';
@import'../../../styles.scss';
input {
    height: calc(46px - 5px);
    color: $fontColor2;
    font-family: $opensans;
    margin-bottom: 20px;
}
::placeholder {
    color: white;
}
