<main id="main" (click)="closeMenu()">
    <section>
        QUEM SOMOS
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit quo magni repellendus ut corrupti? In architecto beatae soluta reiciendis sequi repellendus est debitis distinctio, voluptates corrupti, placeat vero! Aperiam, placeat.</p>
    </section>
    <section>
        ESPECIALIDADES
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, eaque. Eligendi, reiciendis. Labore voluptatibus sunt voluptas minus cumque cum consequuntur saepe reiciendis velit sint, porro fugit ut explicabo laborum nemo?</p>
    </section>
</main>