@import '../../theme/variables.scss';

button {
    background-color: #FFFFFF;
    color: $bgc-2;
    width: 86px;
    height: 26px;
    font-size: 18px;
    border: 0px;
    border-radius: 5px;
    margin:25px;
    cursor: pointer;
}
button:hover {
    background-color: $bgc-2;
    color: #FFFFFF;
}