<nav class="es-flex-row es-j-between es-ai-center">
  <div><a href="home"><img src="../../../assets/img/logo.png" alt=""></a></div>
  
  <ul class="es-flex-row list">
    <li class="es-flex-row es-ai-center" routerLink="/"><a>{{isHome(Lang.HOME)}}</a></li>
    <li class="es-flex-row es-ai-center"  routerLink="/nav" routerLinkActive="active" ><a>{{isHome(Lang.ABOUT)}}</a></li>
    <li class="es-flex-row es-ai-center" routerLink="/header" routerLinkActive="active"><a>{{Lang.SPECIALITIES}}</a></li>
    <li class="es-flex-row es-ai-center"><a>{{Lang.CONTACT}}</a></li>
  </ul>
  <!-- <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown link
      </a>
    
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>t
    </div> -->
</nav>
