@import '../../../styles.scss';
@import '../../theme/variables.scss';
// @import '~bootstrap/dist/css/bootstrap.min.css';

nav{
    position: fixed;
    top: 0;
    // background-color: $primary-color;
    font-size: $tamanho;
    width: $w-nav;
    // height: $h-nav;
    div{
        // margin-left: $ul-margin;
        img{
            width: 154px;
            height: 80px;
            margin-left: 24px;
            margin-top: 14px 
        }
    }
    ul {
        list-style: none;
        width: auto;
        height: 100%;
        margin-bottom: 0;
        
        .active { 
            background-color:  darken($primary-color, 20%);                
        }
        
        li{
            height: $w-nav;
            transition: .2s;
            // &:hover { 
            //     background-color:  darken($primary-color, 10%);
            //     background-color: $color-hover;
                
            // }

            a{
                text-transform: uppercase;
                margin-right: $ul-margin;
                margin-left: $ul-margin;
                text-decoration: none;
                color: white;
                &:hover{
                    color: inherit;
                }
            }
        }
    }
}



@media screen and (max-width: 768px){
    nav{
        z-index: 1;
        ul{
            display:none;
        }
        .img-bnt{
            margin-right: $pattern-margin;
            img{
                width: 30px;
            }
        }
    }

    .nav_container_mobile{        
        width: 100%;
        position: fixed;
        z-index: 1;
        // top: 0;  
        // right: 0;
        height: 0;
        background-color: rgba(6, 6, 8, 1);
        overflow-x: hidden;
        transition: 0.3s;
        ul{
            list-style: none;
            li{
                color: white;
                padding: $pattern-margin;
                
                &:hover{
                    background-color: lighten(rgba(6, 6, 8, 1), 10%);
                }
            }
        }
    }

}

@media screen and (min-width: 769px){
    .img-bnt{
        display: none;
    }
    .nav_container_mobile{
        display:none;
    }
}