@import '../../../styles.scss';
@import '../../theme/variables.scss';
nav {
  z-index: 4;
  font-size: 18px;
  font-family: $comforta;
  color: $fontColor2;
  // position: sticky;
  // top: 0;
  div {
    img {
      width: 154px;
      height: 80px;
      margin: 10px 20px;
      cursor: pointer;
    }
  }
  ul {
    list-style: none;
    width: auto;
    height: 100%;
    margin-bottom: 0;
    li {
      margin-right: $ul-margin;
      margin-left: $ul-margin;
      a {
        text-transform: uppercase;
        text-decoration: none;
        color: $fontColor2;
        &:hover {
          color: $fontColor1;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  nav {
    position: sticky;
    top: 0;
    div {
      img {
        width: 102px;
        height: 53px;
        margin: 10px 20px;
        transition: .5s;
      }
    }
    ul {
      display: none;
    }
    .img-bnt {
      img {
        width: 48px;
        height: 46px;
      }
    }
  }
  .nav_container_mobile {
    width: 0;
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: $bgc-3;
    overflow-x: hidden;
    transition: 0.3s;
    header {
      height: 99px;
      border-bottom: 1px solid $fontColor2;
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
      padding: 10px;
      a {
        img {
          height: 53px;
          box-shadow: -5px 4px 4px $shadow-color;
        }
      }
      #exit {
        border: none;
        font-size: 36px;
        color: $fontColor2;
        font-family: $comforta;
      }
    }
    div {
      height: 100%;
      padding: 35px 0px 15px 0px;
      ul {
        height: 100%;
        list-style: none;
        font-family: $comforta;
        li {
          padding: $pattern-margin;
          padding-left: 69px;
          &:hover {
            background-color: $shadow-hover;
          }
          a{
            text-decoration: none;
            color: $fontColor2;
          }
          a:focus{
            background-color: none;
          }
        }
      }
      div {
        a {
          img {
            height: 47px;
          }
        }
      }
    }
  }
  .u{
    div {
      img {
        width: 92px;
        height: 43px;
        margin: 10px 20px;
        transition: .5s;
      }
    }
    .img-bnt {
      img {
        width: 44px;
        height: 42px;
      }
    }
  }
}
@media screen and (min-width: 769px) {
  .img-bnt {
    display: none;
  }
  .nav_container_mobile {
    display: none;
  }
}

