<nav class="es-flex-row es-j-between es-ai-center">
  <div routerLink=""><a><img src="../../../assets/img/logo.png" alt=""></a></div>
  
  <ul class="es-flex-row list">
    <!-- <li class="es-flex-row es-ai-center" routerLink="/"><a>{{isHome(Lang.HOME)}}</a></li> -->
    <li class="es-flex-row es-ai-center" routerLink="/nav" routerLinkActive="active" ><a>{{isHome(Lang.ABOUT)}}</a></li>
    <li class="es-flex-row es-ai-center" routerLink="/header" routerLinkActive="active"><a>{{Lang.SPECIALITIES}}</a></li>
    <li class="es-flex-row es-ai-center" ><a>{{Lang.CONTACT}}</a></li>
  </ul>
  <div class="img-bnt" (click)="openMenu()">
    <img  src="assets/img/menu.svg">
  </div>
</nav>

<div class="nav_container_mobile es-flex-column" id="go" (click)="closeMenu()">
    <!-- <div class="nav_botao_fechar" (click)="closeMenu()"> -->
        <!-- <button>X</button> -->
    <!-- </div> -->

    <ul class="es-flex-column es-j-around " >
        <li><a>{{Lang.ABOUT}}</a></li>
        <li><a>{{Lang.SPECIALITIES}}</a></li>
        <li>{{Lang.CONTACT}}</li>
    </ul>            
</div>
