<nav class="es-flex-row es-j-between es-ai-center nav-bar">
  <div routerLink="">
    <a pageScroll [pageScrollEasing]="easeOutElastic" href="#main">
      <img src="assets/img/logo.png" alt="">
    </a>  
  </div>  
  <ul class="es-flex-row list">
    <li class="es-flex-row es-ai-center"><a pageScroll [pageScrollEasing]="easeOutElastic" href="#specialities">{{Lang.SPECIALITIES}}</a></li>|
    <li class="es-flex-row es-ai-center"><a pageScroll [pageScrollEasing]="easeOutElastic" href="#about">{{Lang.ABOUT}}</a></li>|
    <li class="es-flex-row es-ai-center"><a pageScroll [pageScrollEasing]="easeOutElastic" href="#contact">{{Lang.CONTACT}}</a></li>
  </ul>
  <div class="img-bnt" (click)="openMenu()">
    <img  src="assets/img/menu-icon.png">
  </div>
</nav>
<div class="nav_container_mobile es-flex-column" id="go">
    <header class="es-flex-row es-j-between es-ai-center">
      <a (click)="openMenu()" ><img src="assets/img/logo.png" alt=""></a>
      <a (click)="openMenu()" id="exit">X</a>
    </header>
    <div class="es-flex-column es-j-between">
      <ul class="es-flex-column " >
        <li (click)="openMenu()"><a pageScroll [pageScrollEasing]="easeOutElastic" href="#specialities">{{Lang.SPECIALITIES}}</a></li>
        <li (click)="openMenu()"><a pageScroll [pageScrollEasing]="easeOutElastic" href="#about">{{Lang.ABOUT}}</a></li>
        <li (click)="openMenu()"><a pageScroll [pageScrollEasing]="easeOutElastic" href="#contact">{{Lang.CONTACT}}</a></li>
      </ul>
      <div class="es-flex-row es-j-around es-ai-end">
        <a href=""><img src="assets/img/facebook-icon.png" alt=""></a>
        <a href=""><img src="assets/img/instagram-icon2.png"></a>
      </div>      
    </div>
</div>

