section{
    min-height: 100vh;
    background-image: url("../../../assets/img/backgroundform.png");
    background-position-y: 50%;
    background-size: cover;
    
    iframe {
      height: 282px;
      width: 408px;
    }
}

@media screen and(max-width:768px){
    section{
        form{
            width: 100%;
            margin-left: 0px;
            app-input{
                margin-bottom: 25px;
            }
        }
    }
}


