section{
    height: 100vh;
    background-image: url("../../../assets/img/backgroundform.png");
    background-attachment: fixed;
    // background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
}