<section class="es-flex-row es-j-around es-ai-center">
  <form action="" class="es-flex-column es-ai-center">
    <app-input type="text" placeholder="Nome"></app-input>
    <app-input type="tel" placeholder="Telefone"></app-input>
    <app-input type="email" placeholder="E-mail"></app-input>
    <app-textarea></app-textarea>
    <app-button></app-button>
  </form>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.129238098479!2d-43.63507378522024!3d-23.000225946993854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bee2b5ed4df55%3A0x611f093918393571!2sEstr.+da+Matriz%2C+200+-+Pedra+de+Guaratiba%2C+Rio+de+Janeiro+-+RJ%2C+23026-000!5e1!3m2!1spt-BR!2sbr!4v1553296132347"  frameborder="0" style="border:0" ></iframe>
</section>